# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite
*.db

# Environment variables
.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
